.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}
.category-title {
  font-size: 38px;
  text-align: center;
  margin-bottom: 25px;
}
